<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
	<div th:fragment="header" id="header">
		<table>
			<tr>
				
				<td><h1>Inventory management</h1></td>
			</tr>
		</table>

	</div>
	<div th:fragment="menu" id="menu">
		<table>
			<tr>
				<td><input type="button" value="Manage Users"
					onclick="window.location.href='/user/list'; return false"
					class="button" /> </td>
			</tr>
		</table>
	</div>
	<footer th:fragment="footer">
		<a href="Home" th:href="@{/}">Back to Home</a>
		<br/>
		 <small>Now is: <b
			th:text="${execInfo.now.time}"></b></small> <br /> <small>(c)Facility
			Booking System , ISS, NUS 2020</small>
	</footer>
</body>
</html>