<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/site.css">
<title>Index Page</title>
</head>
<body>

	<header th:insert="layout/loglayout.html :: header"></header>
	<div th:replace="layout/loglayout.html :: menu"></div>

	<h2>Inventory Detail</h2>
	<!-- 	<div th:if="${error != null}"><h3 th:text="${error}"></h3></div> -->
	<table>
		<tr>
			<td>Product Id: <span th:text="${item.id}"> </span></td>
		</tr>
		<tr>
			<td>Name: <span th:text="${item.product.name}"> </span></td>
		</tr>
		<tr>
			<td>Brand: <span th:text="${item.product.brand}"> </span></td>
		</tr>
		<tr>
			<td>Price: <span th:text="${item.product.retailPrice}"> </span></td>
		</tr>
		<tr>
			<td>Description: <span th:text="${item.product.description}">
			</span></td>
		</tr>
		<tr>
			<td>Colour: <span th:text="${item.product.colour}"> </span></td>
		</tr>
		<tr>
			<td>Quantity: <span th:text="${item.quantity}"> </span></td>
		</tr>
		<tr>
			<td>DOM: <span
				th:text="${#temporals.format(item.product.dom, 'dd-MMM-yyyy')}">
			</span></td>
		</tr>
		<tr>
			<td>Stock Status: <span th:text="${item.productState}"><a
					th:href="@{/catalogue/showcustomer/}+${item.productState}"
					th:text="${item.productState}"></a> </span></td>
			<!-- <a th:href="@{/catalogue/showcustomer/}+${item.productState}" th:text="${item.productState}"></a>
 -->
		</tr>
		<tr>
			<!-- th:text="${item.productState}" -->
			<td><a th:href="@{/catalogue/changeStatus/}+${item.id}">Update
					Stock Status</a></td>
		</tr>


		<!-- !!!!!!!!!! -->
		<!-- <tr>
			<td><select th:field=" ${newUsageRecord.productId}">
					<option th:each="inventory:${inventories}"
						th:value="${inventory.id}" th:text="${inventory.product.name}"></option>
			</select>
				<p th:if="${#fields.hasErrors('productId')}"
					th:errors="${newUsageRecord.productId}"></p></td>
		</tr> -->

	</table>
	<!-- Add Hyperlink -->
	<!-- <a href="AddBooking.html" th:href="@{/booking/add}">New Booking</a> -->

	<!-- <h2 th:if="${not #lists.isEmpty(bookings)}">Bookings List</h2> -->

	<!-- int partId;
	String partName;
	String brand;
	Double price;
	String description;
	String colour;
	LocalDate registrationDate;
	Inventory invenory; -->
	<br />
	<table>
		<tr>
			<th colspan=5><h5 align="center">Item Usage</h5></th>
		</tr>
		<tr>
			<th>Customer Id</th>
			<th>Customer Name</th>
			<th>Car Id</th>
			<th>Quantity</th>
			<th>Registration Date</th>

			<!-- 			<th>Delete</th> -->
		</tr>
		<tr th:each="obj:${usagesOfTheInventory}">
			<td th:text="${obj.stockUsage.id}">Customer Id</td>
			<td><a
				th:href="@{/catalogue/showcustomer/}+${obj.stockUsage.id}"
				th:text="${obj.stockUsage.customerName}">Customer Name</a></td>
			<td th:text="${obj.stockUsage.carId}">Brand</td>
			<td th:text="${obj.quantity}">Retail Price</td>
			<td
				th:text="${#temporals.format(obj.registrationDate, 'dd-MMM-yyyy')}">Date</td>
			<!-- 			<td><a th:href="@{/catalogue/delete/}+${obj.id}"><button>
						Delete</button></a></td> -->
		</tr>
		<tr>
			<td colspan=5><a th:href="@{/product/list/}">
					<button>Back to Inventory List</button>
			</a> <a th:href="@{/catalogue/listrecord/}">
					<button>Back to Inventory Usage List</button>
			</a> <!-- <a th:href="@{/catalogue/addusageform/}+${customer.id}">
					<button>Add New Part</button>
			</a> <a th:href="@{/catalogue/edit/}+${customer.id}">
					<button>Edit History</button>
			</a> --></td>
		</tr>
	</table>

	<div th:replace="layout/loglayout.html :: footer"></div>
</body>
</html>