<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Edit Product</title>
</head>

<body>
	<header th:insert="layout/loglayout.html :: header"> </header>
	<div th:replace="layout/loglayout.html :: menu"></div>

	<h1>Product Form</h1>

	<form action="#" th:object="${product}" th:action="@{/product/save}"
		method="post">
		<table>
			<tr>

				<th><input type="hidden" th:field="*{id}" th:value="*{id}">Name:
				</th>
				<td><input type="text" th:field="*{name}" th:value="*{name}"></td>
			</tr>
			<tr>
				<th>Brand</th>
				<td><input type="text" th:field="*{brand}" th:value="*{brand}"></td>
			</tr>
			<tr>
				<th>DOM</th>
				<td><input type="date" th:field="*{dom}"></td>
			</tr>
			<tr>
				<th>Color</th>
				<td><input type="text" th:field="*{colour}"
					th:value="*{colour}"></td>
			</tr>
			<tr>
				<th>Original Price</th>
				<td><input type="text" th:field="*{oriPrice}"
					th:value="*{oriPrice}"></td>
			</tr>
			<tr>
				<th>Whole Sale Price</th>
				<td><input type="text" th:field="*{wholesalePrice}"
					th:value="*{wholesalePrice}"></td>
			</tr>
			<tr>
				<th>Retail Price</th>
				<td><input type="text" th:field="*{retailPrice}"
					th:value="*{retailPrice}"></td>
			</tr>
			<tr>
				<th>Partner Price</th>
				<td><input type="text" th:field="*{partnerPrice}"
					th:value="*{partnerPrice}"></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><input type="text" th:field="*{description}"
					th:value="*{description}"></td>
			</tr>
			<tr>
				<th>Dimension</th>
				<td><input type="text" th:field="*{dimension}"
					th:value="*{dimension}"></td>
			</tr>
			<tr>
				<th>Category</th>
				<td><input type="text" th:field="*{category}"
					th:value="*{category}"></td>
			</tr>
			<tr>
				<th>Reorder Level</th>
				<td><input type="number" th:field="*{reorderLevel}"
					th:value="*{reorderLevel}" th:min="1"></td>
			</tr>
			<tr>
				<th>minReorder Quantity</th>
				<td><input type="number" th:field="*{minReorderQuantity}"
					th:value="*{minReorderQuantity}" th:min="1"></td>
			</tr>
			<tr>
				<th>Supplier</th>
				<td th:if="${not #lists.isEmpty(suppliers)}"><select
					th:field=" ${product.supId}">
						<option th:each="supplier:${suppliers}" th:value="${supplier.id}"
							th:text="${supplier.name}"></option>
				</select>
					<p th:if="${#fields.hasErrors('supId')}"
						th:errors="${product.supId}"></p></td>
			</tr>
		</table>
		<p>
			<input type="submit" value="Save" /> &nbsp; &nbsp; <input
				type="reset" value="Reset" />
		</p>

	</form>

	<br />

	<table>
		<tr>
			<td><a th:href="@{/product/list/}"><button>Return
						to Product List</button></a></td>
			<td><a th:href="@{/product/delete/}+${product.id}"><button>Delete
						Product</button></a></td>
		</tr>
	</table>

	<div th:replace="layout/loglayout.html :: footer"></div>

</body>