<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/site.css">
<title>New Customer/StockUsage</title>
</head>
<body>

	<header th:insert="layout/loglayout.html :: header"></header>
	<div th:replace="layout/loglayout.html :: menu"></div>
	<h2>Customer</h2>

	<!-- 	<div th:if="${error != null}"><h3 th:text="${error}"></h3></div> -->

	<form action="#" th:object="${stockUsage}"
		th:action="@{/catalogue/savecustomer}" method="post">
		<fieldset>
			<input type="hidden" th:field="*{id}">
		</fieldset>
		<fieldset>
			Customer Name <input type="text" th:field="*{customerName}">
			<p th:if="${#fields.hasErrors('customerName')}"
				th:errors="*{customerName}"></p>
		</fieldset>
		<fieldset>
			Car Id <input type="text" th:field="*{carId}">
			<p th:if="${#fields.hasErrors('carId')}" th:errors="*{carId}"></p>
		</fieldset>
		<fieldset>
			<input type="submit" value="Save" /> &nbsp; &nbsp; <input
				type="reset" value="Reset" />
		</fieldset>
	</form>

	<div th:replace="layout/loglayout.html :: footer"></div>
</body>
</html>