<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/site.css">
<title>Stock Usage List</title>
</head>
<body>

	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu"></div>
	
	<H3>Enter Start Date and End Date to Retrieve Usage Records</H3>
	
	<form action="#" th:object="${dates}"
		th:action="@{/catalogue/stockusgeinventorybydaterange}" method="post">
		
		<fieldset>
			<table>
				<theader>
					<tr>
						
						<th>Start Date</th>
						<th>End Date</th>
					</tr>
				</theader>
				<tbody>
					<tr>
						<td><input type="date"
							th:field="${dates.startDate}" /> <!-- "${#temporals.format(dates.startDate, 'MM-yyyy')}" -->
							<!-- <p
								th:if="${#fields.hasErrors('startDate')}"
								th:errors="${dates.startDate}"></p> -->
						</td>

						
						<td><input type="date"
							th:field="${dates.endDate}" />
							<!-- <p
								th:if="${#fields.hasErrors('endDate')}"
								th:errors="${dates.endDate}"></p> -->
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>

		<fieldset>
			<input type="submit" value="Search" /> &nbsp; &nbsp; <input
				type="reset" value="Reset" />
		</fieldset>
	</form>
	<br/>
	<h2 th:if="${not #lists.isEmpty(records)}">Stock Usage List</h2>
	<table > 

		<tr>
			<th>Item Id</th>
			<th>Item Name</th>
			<th>Customer Name</th>
			<th>Car Id</th>
			<th>Registration Date</th>
		</tr>
		<tr th:if="${not #lists.isEmpty(records)}" th:each="record:${records}">
			<td th:text=${record.productId}>Item Id</td>
			<td><a th:href="@{/catalogue/showinventory/}+${record.productId}" th:text=${record.inventory.product.name}>Item Name</a></td>
			<td><a th:href="@{/catalogue/showcustomer/}+${record.stockUsage.id}" th:text=${record.stockUsage.customerName}>Customer Name</a></td>
			<td th:text=${record.stockUsage.carId}>Car Id</td>
			<td th:text=${record.registrationDate}>Registration Date</td>
		</tr>
	</table>
	
	<table>
			<tr>
			<td>
				<a th:href="@{/user/landing}"><button>Return to Main</button></a> 
				<!-- <a th:href="@{/catalogue/addcustomer}"><button>Add New User</button></a> -->
			</td>
		</tr>
	</table>

	<div th:replace="layout/layout.html :: footer"></div>
</body>