<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/site.css">
<title>Index Page</title>
</head>
<body>

	<header th:insert="layout/loglayout.html :: header"></header>
	<div th:replace="layout/loglayout.html :: menu"></div>

	<!-- 	<div th:if="${error != null}"><h3 th:text="${error}"></h3></div> -->
	<table>
		<tr>
			<td> Customer Id<span th:text="${customer.id}"> </span></td>
		</tr>
		<tr>
			<td> Customer Name<span th:text="${customer.customerName}"> </span></td>
		</tr>
		<tr>
			<td> Customer CarId<span th:text="${customer.carId}"> </span></td>
		</tr>
			<tr>
			<td><a th:href="@{/editcustomer/}+${customer.id}">
				<button>Edit Customer</button></a>
			</td>
			</tr>
	</table>
	<!-- Add Hyperlink -->
	<!-- <a href="AddBooking.html" th:href="@{/booking/add}">New Booking</a> -->

	<!-- <h2 th:if="${not #lists.isEmpty(bookings)}">Bookings List</h2> -->

	<!-- int partId;
	String partName;
	String brand;
	Double price;
	String description;
	String colour;
	LocalDate registrationDate;
	Inventory invenory; -->
	<br />
	<table>
		<tr>
			<th colspan=9><h5 align="center">History</h5></th>
		</tr>
		<tr>
			<th>Part Id</th>
			<th>Name</th>
			<th>Brand</th>
			<th>Price</th>
			<th>Description</th>
			<th>Colour</th>
			<th>Quantity</th>
			<th>Registration Date</th>
			<th>Delete</th>
		</tr>
		<tr th:each="obj:${usagesOfTheCustomer}">
			<td th:text="${obj.productId}">Product Id</td>
			<td th:text="${obj.inventory.product.name}">Product Name</td>
			<td th:text="${obj.inventory.product.brand}">Brand</td>
			<td th:text="${obj.inventory.product.retailPrice}">Retail Price</td>
			<td th:text="${obj.inventory.product.description}">Description</td>
			<td th:text="${obj.inventory.product.colour}">Colour</td>
			<td th:text="${obj.quantity}">Quantity</td>
			<td th:text="${#temporals.format(obj.registrationDate, 'dd-MMM-yyyy')}">Date</td>
			<td><a th:href="@{/catalogue/delete/}+${obj.id}"><button> Delete </button></a></td>
		</tr>
		<tr>
			<td colspan=9>
			<a th:href="@{/catalogue/customers/}">
				<button>Back to Customer List</button>
			</a>
			<a th:href="@{/catalogue/addusageform/}+${customer.id}">
				<button>Add New Part</button>
			</a>
			<a th:href="@{/catalogue/edit/}+${customer.id}">
				<button>Edit History</button>
			</a>
			</td>
		</tr>
	</table>

	<div th:replace="layout/loglayout.html :: footer"></div>
</body>
</html>