<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/site.css">
<title>Customer List Page</title>
</head>
<body>

	<header th:insert="layout/loglayout.html :: header"></header>
	<div th:replace="layout/loglayout.html :: menu"></div>

	<h2 th:if="${not #lists.isEmpty(customers)}">Customers List</h2>
	<table th:if="${not #lists.isEmpty(customers)}">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Car Id</th>
		</tr>
		<tr th:each="customer:${customers}">
			<td th:text=${customer.id}>Id</td>
			<td><a th:href="@{/catalogue/showcustomer/}+${customer.id}"
				th:text=${customer.customerName}>Customer Name</a></td>
			<td th:text=${customer.carId}>Car Id</td>
		</tr>
		<tr>
			<td></td>
			<td colspan=2>
				<a th:href="@{/user/landing}"><button>Return to Main</button></a> 
				<a th:href="@{/catalogue/addcustomer}"><button>Add New User</button></a>
			</td>
		</tr>
	</table>

	<div th:replace="layout/loglayout.html :: footer"></div>
</body>
<