<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/site.css">
<title>Index Page</title>
</head>
<body>

	<header th:insert="layout/loglayout.html :: header"></header>
	<div th:replace="layout/loglayout.html :: menu"></div>
	<h2>New User</h2>

	<!-- 	<div th:if="${error != null}"><h3 th:text="${error}"></h3></div> -->

	<form action="#" th:object="${stockUsage}"
		th:action="@{/catalogue/updateusagerecord}" method="post">

		<fieldset>
			Id: <input type="hidden" th:field="*{id}" th:value="*{id}">
			<p th:text="*{id}">Id</p>
		</fieldset>
		<fieldset>
			Customer Name: <input type="hidden" th:field="*{customerName}"
				th:value="*{customerName}">
			<p th:text="*{customerName}">Customer Name</p>
		</fieldset>
		<fieldset>
			<div>
				Car Id:<input type="hidden" th:field="*{carId}" th:value="*{carId}">
				<p th:text="*{carId}">Customer Name</p>
			</div>
		</fieldset>
		<br />

		<fieldset>
			<table>
				<thead>
					<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, itemStat : *{usageOfTheCustomer}">

						<td th:if="${not #lists.isEmpty(usageOfTheCustomer)}"><input
							type="hidden"
							th:field="*{usageOfTheCustomer[__${itemStat.index}__].id}"
							th:value="${item.id}"> <input type="hidden"
							th:field=" *{usageOfTheCustomer[__${itemStat.index}__].productId}"
							th:value="${item.productId}">
							<p th:text="${item.inventory.product.name}"></p>
							<p
								th:if="${#fields.hasErrors('usageOfTheCustomer[__${itemStat.index}__].productId')}"
								th:errors="*{usageOfTheCustomer[__${itemStat.index}__].productId}"></p>
						</td>

						<td><input type="number"
							th:field="*{usageOfTheCustomer[__${itemStat.index}__].quantity}">
							<p
								th:if="${#fields.hasErrors('usageOfTheCustomer[__${itemStat.index}__].quantity')}"
								th:errors="*{usageOfTheCustomer[__${itemStat.index}__].quantity}"></p>
						</td>

						<td><input type="date"
							th:field="*{usageOfTheCustomer[__${itemStat.index}__].registrationDate}" />
							<p
								th:if="${#fields.hasErrors('usageOfTheCustomer[__${itemStat.index}__].registrationDate')}"
								th:errors="*{usageOfTheCustomer[__${itemStat.index}__].registrationDate}"></p>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<fieldset>
			<input type="submit" value="Save" /> &nbsp; &nbsp; <input
				type="reset" value="Reset" />
		</fieldset>
	</form>


	<table>
		<tr>
			<td><a th:href="@{/catalogue/showcustomer/}+${stockUsage.id}">
					<button>Back to Customer Detail</button>
			</a> <a th:href="@{/catalogue/addusageform/}+${stockUsage.id}">
					<button>Add New Part</button>
			</a></td>
		</tr>
	</table>
	<div th:replace="layout/loglayout.html :: footer"></div>
</body>
</html>