<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Inventory Form</title>
</head>

<body>
	<header th:insert="layout/loglayout.html :: header"> </header>
	<div th:replace="layout/loglayout.html :: menu"></div>
	
	<h1>Inventory Form</h1>
	
	<form action="#" th:object="${inventory}" th:action = "@{/product/inventory/save/}+${product.id}" method = "post">
		<table>
		<tr colspan=3>
			<th th:text="${product.name}"></th>
		</tr>
		<tr>
			<th >Shelf Location</th>
			<th >Quantity</th>
			<th >Product State</th>
		</tr>
		<tr class="table-row">
			<td>
			<!-- <input type="hidden" th:field="*{product.id}" th:value="${product.id}"> -->
			<input type="hidden" th:field="*{id}" th:value="*{id}">
			<input type="text" th:field="*{shelfLocation}" th:value="*{shelfLocation}"></td>
			<td><input type="text" th:field="*{quantity}" th:value="*{quantity}" ></td>
			<td>		
			<fieldset>
			Product State 
			<select th:field="*{productState}">
				<option value="InStock">In Stock</option>
				<option value="BelowReorderLevel">Below Reorder Level</option>
			</select>
			<p th:if="${#fields.hasErrors('productState')}" th:errors="*{productState}"></p>
		</fieldset></td>
		</tr>
	</table>
	<p>
		<input type="submit" value="Save" /> &nbsp; &nbsp; 
		<input type="reset" value="Reset" />
	</p>
	
	</form>
	
			<div th:replace="layout/loglayout.html :: footer"></div>
	
</body>