<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Member Form</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<header th:insert="layout/loglayout.html :: header"></header>
	<div th:replace="layout/loglayout.html :: menu"></div>

	<h2>Search</h2>
	
	
	<form action="#"  th:action="@{/search/searching}" method="post">
		Search: <input type="text" name="keyword" />
 		<select name="searchtype">
 			<option value="name">Name</option>
 			<option value="brand">Brand</option>
 			<option value="colour">Colour</option>
 			<option value="category">Category</option>
 			<option value="description">Description</option>
 		</select>
 		<fieldset>
			<input type="submit" value="Search" />
		</fieldset>
	</form>
	
	
	
	
	
	<div th:replace="layout/loglayout.html :: footer"></div>
</body>
</html>