<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Member Form</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<header th:insert="layout/loglayout.html :: header"></header>
	<div th:replace="layout/loglayout.html :: menu"></div>

	<h2>User Detail</h2>
	<table th:if="${not #lists.isEmpty(user)}">
		<tr>
			<th>Id</th>
			<td th:text="${user.id}">ID</td>
		</tr>
		<tr>
			<th>Name</th>
			<td th:text="${user.name}">Name</td>
		</tr>
		<tr>
			<th>Username</th>
			<td th:text="${user.username}">Username</td>
		</tr>
		<tr>
			<th>Role</th>
			<td th:text="${user.role}">Role</td>
		</tr>
		<tr>
			<td colspan=2>
			<a th:href="@{/user/list}"><button>Back to List</button></a>
			<a th:href="@{/user/edit/}+${user.id}"><button>Edit</button></a>
			<a th:href="@{/user/delete/}+${user.id}"><button>Delete</button></a>
			</td>
		</tr>
	</table>
	<div th:replace="layout/loglayout.html :: footer"></div>
</body>
</html>