<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/site.css">
<title>Index Page</title>
</head>
<body>

	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu"></div>
	<h2>New User</h2>

	<!-- 	<div th:if="${error != null}"><h3 th:text="${error}"></h3></div> -->

	<form action="#" th:object="${stockUsage}"
		th:action="@{/catalogue/saveusagerecord}" method="post">
		<fieldset>
			<input type="hidden" th:field="*{id}">
		</fieldset>
		<fieldset>
			Customer Name <input type="text" th:field="*{customerName}">
			<p th:if="${#fields.hasErrors('customerName')}"
				th:errors="*{customerName}"></p>
		</fieldset>
		<fieldset>
			Car Id <input type="text" th:field="*{carId}">
			<p th:if="${#fields.hasErrors('carId')}" th:errors="*{carId}"></p>
		</fieldset>

		<fieldset>
			<table>
				<thead>
					<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, itemStat : *{usageOfTheCustomer}">
						<td th:if="${not #lists.isEmpty(inventories)}"><select 
							th:field=" ${stockUsage.usageOfTheCustomer[__${itemStat.index}__].productId}">
								<option th:each="inventory:${inventories}" th:value="${inventory.id}" th:text="${inventory.product.name}"></option>
						</select>
							<p
								th:if="${#fields.hasErrors('usageOfTheCustomer[__${itemStat.index}__].productId')}"
								th:errors="*{usageOfTheCustomer[__${itemStat.index}__].productId}"></p>
						</td>

						<td><input type="number"
							th:field="*{usageOfTheCustomer[__${itemStat.index}__].quantity}">
							<p
								th:if="${#fields.hasErrors('usageOfTheCustomer[__${itemStat.index}__].quantity')}"
								th:errors="*{usageOfTheCustomer[__${itemStat.index}__].quantity}"></p>
						</td>

						<td><input type="date"
							th:field="*{usageOfTheCustomer[__${itemStat.index}__].registrationDate}" />
							<p
								th:if="${#fields.hasErrors('usageOfTheCustomer[__${itemStat.index}__].registrationDate')}"
								th:errors="*{usageOfTheCustomer[__${itemStat.index}__].registrationDate}"></p>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>

		<fieldset>
			<input type="submit" value="Save" /> &nbsp; &nbsp; <input
				type="reset" value="Reset" />
		</fieldset>
	</form>

	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>