<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../static/css/site.css">
<title>Index Page</title>
</head>
<body>

	<header th:insert="layout/loglayout.html :: header"></header>
	<div th:replace="layout/loglayout.html :: menu"></div>

	<h2 th:if="${not #lists.isEmpty(users)}">Users List</h2>
	<table th:if="${not #lists.isEmpty(users)}">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Username</th>
			<th>Role</th>
<!-- 			<th>Delete Facility</th>
			<th>Delete Facility</th> -->
		</tr>
		<tr th:each="user:${users}">
			<td th:text=${user.id}>Id</td>
			<td><a th:href="@{/user/showuser/}+${user.id}" th:text=${user.name}>Name</a></td>
			<td th:text=${user.username}>Username</td>
			<td th:text=${user.role}>Role</td>
			<!-- 			<td><a href="EditFacility.html"
				th:href="@{/facility/edit/}+${facility.facilityId}">Edit</a></td>
			<td><a href="DeleteFacility.html"
				th:href="@{/facility/delete/}+${facility.facilityId}">Delete</a></td> -->
		</tr>
		<tr>
		<td colspan=3></td>
		<td colspan=2>
			<a th:href="@{/user/landing}"><button>Return to Main</button></a>
			<a th:href="@{/user/add}"><button>Add New User</button></a>
		</td>
		</tr>
	</table>
	
	<div th:replace="layout/loglayout.html :: footer"></div>
</body>
</html>