<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Member Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu"></div>
	
	<h1>User Form</h1>
	<form action="#" th:object="${user}" th:action="@{/user/save}"
		method="post" class="form-horizontal">
		<fieldset>

			<input type="hidden" th:field="*{id}">
		</fieldset>
		<fieldset>
			Full Name: <input type="text" th:field="*{name}">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		</fieldset>
		<fieldset>
			User Name <input type="text" th:field="*{username}">
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
		</fieldset>
		<fieldset>
			Password <input type="password" th:field="*{password}">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
		</fieldset>
		
		<fieldset>
			Role 
			<select th:field="*{role}">
				<option value="ADMIN">ADMIN</option>
				<option value="MECHANIC">Mechanic</option>
			</select>
			<p th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
		</fieldset>
		
		<fieldset>
			<button type="submit" >Save</button>
			<button type="reset" >Reset</button>
		</fieldset>

		
	</form>
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>