<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Listing</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu"></div>
	<h1>User Table</h1>
	<!-- Add Hyperlink -->

	<a href="userform.html" th:href="@{/user/adduser}">Add User</a>

	<h2 th:if="${not #lists.isEmpty(users)}">User List</h2>
	<div>
	
		
	<table th:if="${not #lists.isEmpty(users)}">
		<tr >
			<th >
			<a th:href="@{'/user/page/' +${currentPage} + '?sortField=id&sortDir=' +${reverseSortDir}}">
			ID</a></th>
			<th ><a th:href="@{'/user/page/' +${currentPage} + '?sortField=name&sortDir=' +${reverseSortDir}}">
			Name</a></th>
			<th ><a th:href="@{'/user/page/' +${currentPage} + '?sortField=username&sortDir=' +${reverseSortDir}}">
			User Name</a></th>
		    <th ><a th:href="@{'/user/page/' +${currentPage} + '?sortField=role&sortDir=' +${reverseSortDir}}">
		    Role</a></th>
			
			
			
			
			
			
			
			
			


		</tr>

		<tr th:each="user:${users}" class="table-row">
			<td > <a href="showdetail.html" th:href="@{/user/showuser/}+${user.id}" th:text=${user.id}>ID</a></td>
			<td th:text=${user.name}>Name</td>
			<td th:text=${user.username}>User Name</td>
			<td th:text=${user.role}>Role</td>


		</tr>


	</table>
	</div>
	<div>&nbsp;</div>
	<br/>
	<div>
	     Total Items:[[${total}]] - Page[[${currentPage}]] of [[${totalPages}]]
	     &nbsp; -&nbsp;
	     
	     <a th:if="${currentPage >1}" th:href="@{'/user/page/1?sortField='+${sortField}+'&sortDir=' +${sortDir}}"> First</a>
	     <span th:unless="${currentPage >1}"> First</span>
	     &nbsp;&nbsp;
	     
	     <a th:if="${currentPage >1}" th:href="@{'/user/page/' + ${currentPage - 1}+ '?sortField='+${sortField}+'&sortDir=' +${sortDir}}"> Previous</a>
	     <span th:unless="${currentPage >1}"> Previous</span>
	     &nbsp;&nbsp;
	     
	     <span th:each="i: ${#numbers.sequence(1,totalPages)}">
	       <a th:if="${i != currentPage}" th:href="@{'/user/page/' + ${i}+ '?sortField='+${sortField}+'&sortDir=' +${sortDir}}">[[${i}]]</a> 
	       <span th:unless="${i != currentPage}" >[[${i}]]</span> 
	       &nbsp;&nbsp;
	     </span>
	     
	     <a th:if="${currentPage <totalPages}" th:href="@{'/user/page/' + ${currentPage + 1}+ '?sortField='+${sortField}+'&sortDir=' +${sortDir}}"> Next</a>
	     <span th:unless="${currentPage <totalPages}"> Next</span>
	     &nbsp;&nbsp;
	     
	     <a th:if="${currentPage <totalPages}" th:href="@{'/user/page/' + ${totalPages}+ '?sortField='+${sortField}+'&sortDir=' +${sortDir}}"> Last</a>
	     <span th:unless="${currentPage <totalPages}"> Last</span>
	     &nbsp;&nbsp;
	   
	   
	     
	     
	    
	</div>
	<br/>
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>